
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    all: unset;
    cursor: pointer;
}

button {
    background-color: aliceblue;
    border: none;
    cursor: pointer;
    height: 10%;
    width: 80%;
}

#logOutButton {
    border-radius: 10px;
    border: 1px solid grey;
    height: 60%;
    margin-right: 1vw;
    margin-top: 1vh;
    width: 5%;
}

h1 {
    text-align: center;
}

h2 {
    align-self: center;
    flex-grow: 1;
    margin-left: 1rem;
}

input {
    background-color: rgba(211, 211, 211, 0.263);
    border: none;
    height: 10%;
    padding-left: 10px;
    width: 80%;
}

p {
    color: grey;
}

#smallText {
    font-size: x-small;
    margin: 1rem 10% 0px;
}


#main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content:center;
    position: relative;
    width: 100vw;
}

#main::before {
    background-image: url('images/fjarilssim.jpg');
    background-size: cover;
    bottom: 0px;
    content: "";
    left: 0px;
    opacity: 0.85;
    position: absolute;
    right: 0px;
    top: 0px;
}

#header {
    background: white;
    border-bottom: 1px solid black;
    bottom: 0px;
    display:none;
    height: 5vh;
    justify-content: flex-end;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100vw;
    z-index: 1;
}


.logInDiv {
    align-items: center;
    background: white;
    color: black;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    justify-content: center;
    opacity: 0.95;
    width: 28%;
    z-index: 1;
}

#logIn {
    display:flex;
}

#tryAgain {
    display: none;
}

@media screen and (max-width: 1024px) {
    .logInDiv {
        height: 800px;
        width: 60%;
    }

    #logOutButton {
        width: 10%;
    }
}

@media screen and (max-width: 600px) {
    #header {
        flex-direction: column;
    }

    #logOutButton {
        width: 100%;
    }
}

